<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>360 ssp information collection</title>
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>
<body>
    <div class="container" style="margin-top: 100px;">
        <h1 align="center">360信息获取</h1>
        <form action="upload" method="post" enctype="multipart/form-data">
            <div class="input-group" style="margin: 10px">
                <span class="input-group-addon">云打码账号:</span>
                <input class="form-control" type="text" name="yuser"><br>
            </div>
            <div class="input-group" style="margin: 10px">
                <span class="input-group-addon">云打码密码:</span>
                <input class="form-control" type="text" name="ypwd"><br>
            </div>
            <input class="form-control" type="file" name="txt" style="margin: 10px">
            <input class="btn" type="submit" value="提 交" style="width: 200px; margin: auto; display: block">
        </form>
    </div>
</body>
<script>
    var download = function (content, filename) {
        var eleLink = document.createElement('a');
        eleLink.download = filename;
        eleLink.style.display = 'none';
        // 字符内容转变成blob地址
        var blob = new Blob([content]);
        eleLink.href = URL.createObjectURL(blob);
        // 触发点击
        document.body.appendChild(eleLink);
        eleLink.click();
        // 然后移除
        document.body.removeChild(eleLink);
    };

    $('form').submit(function (event) {
        event.preventDefault()
        var formData = new FormData(this)
        var form = $(this)
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: formData,
            mimeType: 'multipart/form-data',
            contentType:false,
            cache:false,
            processData:false
        }).success(function (r) {
            download(r, 'guys.txt')
        })
    })

</script>
</html>